<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704206076566-irbevb0dpb5anpm695rk3o1uqlr4bilv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704206076566-irbevb0dpb5anpm695rk3o1uqlr4bilv</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXZKb58WVeCO2CEvAivH2L31HMd_9EAg</string>
	<key>GCM_SENDER_ID</key>
	<string>704206076566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Guy-Twig.BestAppStoreApps</string>
	<key>PROJECT_ID</key>
	<string>bestappspushnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>bestappspushnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704206076566:ios:f76cf688d10a8dff3ea0b7</string>
</dict>
</plist>